#user-status .status::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: #00b37e;
  border-radius: 50%;
  align-self: center;
}

#messages::-webkit-scrollbar {
  display: none;
}

.message .body {
  width: fit-content;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}

.message.you .body {
  border-radius: 0.8rem 0.8rem 0 0.8rem;
}
