<div class="px-8 py-6 h-screen text-white flex justify-center">
  <div class="grid grid-flow-row gap-[1.875rem]">
    <div id="top" class="flex items-center justify-between">
      <div id="user-info" class="flex gap-[1.6rem] items-center">
        <img
          class="rounded-full w-12 h-12 overflow-hidden"
          src="https://randomuser.me/api/portraits/women/50.jpg"
          alt="Mulher asiatica com gorro preto, óculos e cabelo preto até os ombros"
        />

        <div id="user-status">
          <strong>Cecilia Sassaki</strong>
          <div class="status text-[#00B37E] text-xs flex align-baseline gap-[0.4rem] mt-[0.4rem]" >Online</div>
        </div>
      </div>
      <div id="close-chat">
        <i class="ph-x-fill"></i>
      </div>
    </div>
    <div id="messages" class="overflow-y-scroll pb-[2.4rem]" >
      <div id="last-seen" class="text-center text-xs">Hoje 11:30</div>
      <div class="messages text-xs font-normal grid gap-12 mt-12">
        <div class="message w-[40vw]">
          <div class="top">Cecilia - 11:30</div>
          <div class="body mt-4 bg-[#633bbc] p-6 ">Tive uma ideia incrível para um projeto! 😍</div>
        </div>
        <div class="message you ml-auto">
          <div class="top text-right">Você - 11:32</div>
          <div class="body mt-4 p-6 bg-[#07847e]">Sério? Me conta mais.</div>
        </div>
        <div class="message w-[40vw]">
          <div class="top">Cecilia - 11:34</div>
          <div class="body mt-4 bg-[#633bbc] p-6">
            E se a gente fizesse um chat moderno e responsivo em apenas uma
            semana?
          </div>
        </div>
        <div class="message you ml-auto">
          <div class="top text-right">Você - 11:36</div>
          <div class="body mt-4 p-6 bg-[#07847e] "><strong>#boraCodar! 🚀</strong></div>
        </div>
      </div>
    </div>
    <form id="bottom" class="px-6 py-3 bg-[#282843] rounded-full flex items-center">
      <input type="text" placeholder="Digite sua mensagem" class="bg-transparent outline-none flex-1"/>
      <button class="flex items-center">
        <i class="ph-paper-plane-right-fill text-lg "></i>
      </button>
    </form>
  </div>
</div>
