@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--purple: #6200EE;
	--white: #FFF;
	--black: #333;

	--grey-200: #F5F5F5;
	--grey-300: #ECE0FD;
	--grey-600: #666;

  --transiction: .2s;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Lato";
}

#main > div {
  color: #666;
  width: 82px;
  height: 40px;
  transition: all 300ms;
}

#main > div:hover {
  background-color: #ECE0FD;
  border-radius: 8px;
  cursor: pointer;
}

#main > div.active {
  background-color: var(--purple);
  border-radius: 8px;
  font-weight: 700;
  color: white;
  position: relative;
}

#main > div.active::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
}
