<body class="flex items-center justify-center h-screen">
  <div id="box" class="bg-white shadow-[0px_8px_32px_rgba(0,0,0,0.16)] rounded-2xl w-fit p-8 grid grid-rows-[40px_1fr] gap-6">
    <header id="header" class="flex items-center justify-between font-bold color-[#333]">
      <i class="ph-bold ph-caret-left p-4 rounded-full color-[#666]  hover:bg-[#ECE0FD]"></i>
      <span></span>
      <i class="ph-bold ph-caret-right p-4 rounded-full color-[#666] hover:bg-[#ECE0FD]"></i>
    </header>
    <main id="main" class="grid grid-cols-[repeat(3,1fr)] gap-4">
    </main>
  </div>
</body>


