<div class="rounded-xl overflow-auto cursor-pointer">
    <div class="flex flex-col bg-[#2A2141] p-7 w-[16.875rem]  md:w-[24rem] m-w-sm">
        <div class="space-y-7">
            <div class="flex flex-row space-x-7">
                <div>
                    <img src="./../assets/default-background-sm.png" alt="imagem de fundo">
                </div>
                <div class="flex flex-1 flex-col justify-center">
                  <p class="text-[#E1E1E6] font-bold text-xl text-ellipsis overflow-hidden"> {{ music.name }}</p>
                  <span class="text-[#a5a2b0] text-lg text-ellipsis overflow-hidden"> {{ music.musicalBand }}</span>
                </div>
            </div>
            <div class="flex justify-around" *ngIf="showControls">
                <img class="w-7 h-7 " src="../assets/play-back.svg" alt="">
                <img class="w-7 h-7" src="../assets/play.svg" alt="">
                <img class="w-7 h-7" src="../assets/play-forward.svg" alt="">
            </div>
            <div *ngIf="showStatusBar">
                <audio src={{music.url}} preload="metadata" id="music-metadata-{{music.id}}" (loadeddata)="loadMetaData()"></audio>
                <input id="seek-slider-{{music.id}}" max="100" value="0"  type="range" class="w-full rounded-lg cursor-pointer overflow-hidden appearance-none bg-[#5e586f] h-1.5" >
                <div class="flex justify-between text-[#D9D9D9] text-sm">
                  <span id="current-time-{{music.id}}">
                    00:00
                  </span>
                  <span id="duration-{{music.id}}">
                    00:00
                  </span>
                </div>
            </div>
        </div>
    </div>
  </div>
