@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&family=Roboto:wght@400;700&display=swap');


@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@400;700&display=swap');
}

.crimson {
  font-family: 'Crimson Pro';
  font-weight: 600;
}

:root {
  --main-color-primary : hsl(257, 72%, 89%);
  --main-color-secondary : hsl(257, 72%, 89%);
}
