@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: -0.02em;

  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat
    fixed;

  height: 100vh;
  display: grid;
  place-content: center;
}
