<div class="flex h-screen justify-center align-middle items-center mx-auto">
  <div class="flex justify-center flex-col gap-8 m-auto p-8 sm:flex-row">
    <ng-container *ngIf="!music" >
      <div>
          <app-vertical-card [showStatusBar]=true [showControls]=true [music]=musics[0] (click)="selectMusic(musics[0])"></app-vertical-card>
      </div>
      <div class="flex flex-col gap-8">
          <app-horizontal-card [showStatusBar]=true [showControls]=true [music]=musics[1] (click)="selectMusic(musics[1])"></app-horizontal-card>
          <app-horizontal-card [showStatusBar]=false [showControls]=true [music]=musics[2] (click)="selectMusic(musics[2])"></app-horizontal-card>
      </div>
    </ng-container>
    <ng-container *ngIf="music" >
      <app-card [showStatusBar]=true [showControls]=true [music]=music></app-card>
    </ng-container>
  </div>
</div>
