
<div class="flex justify-center flex-row gap-8 m-auto p-8 text-[#271A45]">
  <div class="w-[449px] h-[252px]">
    <div *ngIf="!show3D" class="relative">
      <img src={{product.urlImage}} alt="">
      <img src="../assets/open.png"  class="cursor-pointer absolute right-0 top-0" (click)="changeView()"/>
    </div>
    <div *ngIf="show3D" class="relative">
      <img src="../assets/close.png"  class="cursor-pointer absolute right-2 top-0" (click)="changeView()"/>
      <img src={{product.url3D}} alt="">
    </div>
  </div>
  <div >
    <div class="pb-5 flex flex-col gap-2">
      <p class="font-light text-base"> CÓDIGO: {{product.id}}</p>
      <p class="crimson font-semibold text-3xl">{{product.name}}</p>
      <p class="text-lg font-normal"> R$ {{product.price}}</p>
    </div>
    <div>
      <button class="block text-sm text-[#271A45] py-2 px-4 rounded-full border-[1px] font-semibold border-[#271A45] hover:text-[#D9CDF7] hover:bg-[#271A45] transition-colors">ADICIONAR À CESTA</button>
    </div>
  </div>
</div>
