<div class="container gap-8 flex">
  <div class="card-back w-[348px] h-[486px] rounded-2xl text-[#312d74] flex justify-center items-center font-bold text-4xl">
    <h1>FINN</h1>
  </div>
  <div class="card-front w-[436] h-[608px] border-radius">
    <div class="card-info">
      <header>
        <h2>REY SKYWALKER</h2>
        <span>Era uma catadora de sucata que descobriu ser sensível à Força durante sua busca ao lendário Mestre Jedi Luke Skywalker.</span>
      </header>

      <div class="img-main">
        <img src="./assets/character.png" alt="">
      </div>

      <main class="content">
        <div class="info">
          <span>Filmes</span>
          <strong>The Force Awakens, The Last Jedi, The Rise of Skywalker & Forces of Destiny</strong>
        </div>

        <div class="info">
          <span>Espécie</span>
          <strong>Humana </strong>
        </div>

        <div class="info">
          <span>Altura</span>
          <strong>1,7m</strong>
        </div>

        <div class="info">
          <span>Localidade</span>
          <strong>Jakku</strong>
        </div>

        <div class="info">
          <span>Armas</span>
          <strong>Sabre de luz, Blaster, Quarterstaff</strong>
        </div>
      </main>
    </div>
  </div>
  <div class="card-back w-[348px] h-[486px] rounded-2xl text-[#312d74] flex justify-center items-center font-bold text-4xl">
    <h1>BB-8</h1>
  </div>
</div>
